.tittle {
    font-size: 44px;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
}

.center {
    width: 100%;
    text-align: center;
}

.btn-click {
    background-color: red;
    border: none;
    color: #FFFFFF;
    width: 50%;
    height: 80px;
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50px;
}

.btn-click:hover {
    background-color: rgb(196, 4, 4);
}

.center-btn {
    text-align: center;
}

.modal-chinga-tu-madre {
    display: none; 
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
}

.modal-chinga-tu-madre.active {
    display: block; 
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal-overlay.active {
    display: block;
}

.title-modal {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

.img-modal {
    width: 400px;
    height: auto;
}

.btn-cerrar-modal {
    width: 100%;
    height: 50px;
    background-color: red;
    border-radius: 15px;
    border: none;
    color: #FFFFFF;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.btn-cerrar-modal:hover {
    background-color: rgb(181, 29, 29);
}